Assistant/Assistant/Connected Services/WeatherService/WeatherService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="ArrayOfWeatherData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeatherData" nillable="true" type="tns:WeatherData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeatherData" nillable="true" type="tns:ArrayOfWeatherData" />
  <xs:complexType name="WeatherData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Humidity" type="xs:int" />
      <xs:element minOccurs="0" name="Pressure" type="xs:int" />
      <xs:element minOccurs="0" name="Temperature" type="xs:int" />
      <xs:element minOccurs="0" name="Weather" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherData" nillable="true" type="tns:WeatherData" />
</xs:schema>