Assistant/Assistant/Connected Services/TodoService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TodoService" />
  <xs:element name="RememberTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="todo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RememberTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RememberTodoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarkDoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TodoService" minOccurs="0" name="GetTodosResult" nillable="true" type="q1:ArrayOfTodo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>