Assistant/Assistant/Connected Services/TodoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TodoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TodoService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITodoService_RememberTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:RememberTodo" />
  </wsdl:message>
  <wsdl:message name="ITodoService_RememberTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RememberTodoResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_MarkDone_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkDone" />
  </wsdl:message>
  <wsdl:message name="ITodoService_MarkDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkDoneResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTodos" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTodosResponse" />
  </wsdl:message>
  <wsdl:portType name="ITodoService">
    <wsdl:operation name="RememberTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/RememberTodo" message="tns:ITodoService_RememberTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/RememberTodoResponse" message="tns:ITodoService_RememberTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkDone">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/MarkDone" message="tns:ITodoService_MarkDone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/MarkDoneResponse" message="tns:ITodoService_MarkDone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetTodos" message="tns:ITodoService_GetTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetTodosResponse" message="tns:ITodoService_GetTodos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITodoService" type="tns:ITodoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RememberTodo">
      <soap:operation soapAction="http://tempuri.org/ITodoService/RememberTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkDone">
      <soap:operation soapAction="http://tempuri.org/ITodoService/MarkDone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTodos">
      <soap:operation soapAction="http://tempuri.org/ITodoService/GetTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TodoService">
    <wsdl:port name="BasicHttpBinding_ITodoService" binding="tns:BasicHttpBinding_ITodoService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/TodoService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>