Assistant/Assistant/Connected Services/TodoService/TodoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TodoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TodoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTodo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Todo" nillable="true" type="tns:Todo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodo" nillable="true" type="tns:ArrayOfTodo" />
  <xs:complexType name="Todo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Done" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Todo" nillable="true" type="tns:Todo" />
</xs:schema>